.version.about_us /* version checker */
{
	color: #00000D;
	background-color: #744CA6;
}

.html
{
	background: #292827 url("../images/6892673-brown-wood-background2.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1229px;
	-pie-box-shadow: 0px 0px 15px 4px #6D6D6D;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.57),0px 0px 15px rgba(0,0,0,0.57);
	background-image: none;
	border-style: solid;
	border-color: #000000;
	background-color: #F7F2EF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	border-width: 2px 2px 0px 0px;
}

#pu1812
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1812
{
	z-index: 75;
	width: 230px;
	margin-left: 5px;
}

#u1689
{
	z-index: 77;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	border-width: 2px 2px 0px 0px;
}

#u1689_position_content
{
	margin-bottom: -1px;
	padding-top: 15px;
}

#u1795-4
{
	z-index: 157;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1796
{
	z-index: 161;
	width: 214px;
	min-height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 9px;
	position: relative;
}

#buttonu1787
{
	z-index: 135;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 26px;
	margin-top: 10px;
	position: relative;
	border-width: 2px 0px;
}

#buttonu1787:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#buttonu1787.ButtonSelected
{
	background-color: #333945;
	width: 220px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#u1788-4
{
	z-index: 136;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#buttonu1785
{
	z-index: 130;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 34px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1785:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1786-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 28px;
}

#buttonu1789
{
	z-index: 140;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1789:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1790-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#buttonu1791
{
	z-index: 145;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 35px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1791:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1792-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 28px;
}

#buttonu1793
{
	z-index: 150;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 22px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1793:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#buttonu1785.ButtonSelected,#buttonu1789.ButtonSelected,#buttonu1791.ButtonSelected,#buttonu1793.ButtonSelected
{
	background-color: #333945;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1794-6
{
	z-index: 151;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 27px;
}

#u1801-8
{
	z-index: 162;
	display: block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 221px;
	position: relative;
}

#pmenuu595
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 235px;
}

#menuu595
{
	z-index: 2;
	width: 733px;
	margin-left: 7px;
}

#u596
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
}

#u599
{
	width: 145px;
	padding-bottom: 55px;
}

#u603
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 147px;
}

#u604
{
	width: 145px;
	padding-bottom: 55px;
}

#u610
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 294px;
}

#u611
{
	width: 145px;
	padding-bottom: 55px;
}

#u617
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 441px;
}

#u618
{
	width: 145px;
	padding-bottom: 55px;
}

#u624
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 588px;
}

#u625
{
	width: 145px;
	padding-bottom: 55px;
}

#u599.MuseMenuActive,#u604.MuseMenuActive,#u611.MuseMenuActive,#u618.MuseMenuActive,#u625.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u602,#u607,#u614,#u621,#u628
{
	height: 26px;
	width: 145px;
	margin-right: -10000px;
	top: 27px;
}

#u1265-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	margin-top: 28px;
	position: relative;
}

#pu1259-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u1259-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1260
{
	z-index: 86;
	width: 222px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 485px;
	background: transparent url("../images/124598_4563.jpg") no-repeat center center;
	background-size: cover;
}

#u1270-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	margin-left: 468px;
	margin-top: 22px;
	position: relative;
}

#pu1261
{
	width: 0.01px;
	margin-top: 14px;
}

#u1261
{
	z-index: 87;
	width: 265px;
	height: 223px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/856951_99321173.jpg") no-repeat center center;
	background-size: contain;
}

#u1266-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#ppu1272-4
{
	width: 0.01px;
	margin-top: 54px;
}

#pu1272-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 29px;
}

#u1272-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1267-5
{
	z-index: 93;
	display: block;
	vertical-align: top;
	margin-top: 24px;
	position: relative;
}

#u1268
{
	z-index: 88;
	width: 265px;
	height: 204px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 435px;
	background: transparent url("../images/1433059_51728707.jpg") no-repeat center center;
	background-size: cover;
}

#u1273-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	margin-left: 236px;
	margin-top: 19px;
	position: relative;
}

#u1269-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1274-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	margin-left: 251px;
	margin-top: 57px;
	position: relative;
}

#pu1293-4
{
	width: 0.01px;
	margin-top: 5px;
}

#u1293-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1294-4
{
	z-index: 122;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u1295-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 488px;
}

#pu710
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1298px;
}

#u710
{
	z-index: 33;
	width: 1000px;
	margin-right: -10000px;
}

#menuu535
{
	z-index: 34;
	width: 586px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 16px;
}

#u536
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
}

#u539
{
	width: 114px;
	padding-bottom: 14px;
}

#u550
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
	left: 117px;
}

#u553
{
	width: 114px;
	padding-bottom: 14px;
}

#u539.MuseMenuActive,#u553.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u542-4_clip,#u555-4_clip
{
	width: 114px;
	height: 19px;
}

#u557
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 234px;
}

#u558
{
	width: 115px;
	padding-bottom: 14px;
}

#u564
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 352px;
}

#u567
{
	width: 115px;
	padding-bottom: 14px;
}

#u558.MuseMenuActive,#u567.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u561-4_clip,#u568-4_clip
{
	width: 115px;
	height: 19px;
}

#u571
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 470px;
}

#u574
{
	width: 116px;
	padding-bottom: 14px;
}

#u574.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u575-4_clip
{
	width: 116px;
	height: 19px;
}

#u542-4,#u555-4,#u561-4,#u568-4,#u575-4
{
	margin-right: -10000px;
	top: 7px;
}

#u741
{
	z-index: 72;
	width: 79px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 631px;
}

#pu581
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 715px;
}

#u581
{
	z-index: 71;
	width: 58px;
	min-height: 24px;
}

#u583
{
	z-index: 73;
	width: 106px;
	min-height: 28px;
	margin-top: 3px;
}

#u578-6
{
	z-index: 65;
	margin-right: -10000px;
	margin-top: 17px;
	left: 830px;
}

#u587
{
	z-index: 74;
	width: 87px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 630px;
}

body
{
	position: relative;
	min-width: 1002px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1297px;
}

