.version.index /* version checker */
{
	color: #0000EE;
	background-color: #6ECFEE;
}

.html
{
	background: #292827 url("../images/6892673-brown-wood-background.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 899.8500000000001px;
	-pie-box-shadow: 0px 0px 15px 4px #6D6D6D;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.57),0px 0px 15px rgba(0,0,0,0.57);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F7F2EF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu1812
{
	width: 0.01px;
	margin-left: 5px;
}

#u1812
{
	z-index: 75;
	width: 230px;
	margin-right: -10000px;
	margin-top: 5px;
}

#menuu595
{
	z-index: 2;
	width: 733px;
	margin-right: -10000px;
	left: 237px;
}

#u596
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
}

#u599
{
	width: 145px;
	padding-bottom: 55px;
}

#u603
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 147px;
}

#u604
{
	width: 145px;
	padding-bottom: 55px;
}

#u610
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 294px;
}

#u611
{
	width: 145px;
	padding-bottom: 55px;
}

#u617
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 441px;
}

#u618
{
	width: 145px;
	padding-bottom: 55px;
}

#u624
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 588px;
}

#u625
{
	width: 145px;
	padding-bottom: 55px;
}

#u599.MuseMenuActive,#u604.MuseMenuActive,#u611.MuseMenuActive,#u618.MuseMenuActive,#u625.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u602,#u607,#u614,#u621,#u628
{
	height: 26px;
	width: 145px;
	margin-right: -10000px;
	top: 27px;
}

#slideshowu839
{
	z-index: 78;
	width: 0.01px;
	height: 540px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u849
{
	position: absolute;
	width: 1000px;
	height: 500px;
	background-color: transparent;
}

#u849popup
{
	z-index: 79;
}

#u963
{
	z-index: 80;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1174
{
	z-index: 82;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1183
{
	z-index: 84;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1192
{
	z-index: 86;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1201
{
	z-index: 88;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1210
{
	z-index: 90;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1219
{
	z-index: 92;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1228
{
	z-index: 94;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1237
{
	z-index: 96;
	width: 1000px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u843-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 500px;
	left: 478px;
}

#u843-4popup
{
	z-index: 98;
}

#u848-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 500px;
	left: 500px;
}

#u848-4popup
{
	z-index: 102;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu972-4
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: -2px;
}

#u972-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u981-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u978-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 680px;
}

#pu976-32
{
	width: 0.01px;
	margin-left: 65px;
}

#u976-32
{
	z-index: 120;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u975
{
	z-index: 118;
	width: 2px;
	height: 371px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#ppu982
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 275px;
}

#u982
{
	z-index: 77;
	width: 151px;
	height: 237px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/head-chef.jpg") no-repeat center top;
	background-size: cover;
}

#u991-4
{
	z-index: 178;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#page_position_content,#pu982,#pu990-8
{
	width: 0.01px;
}

#u990-8
{
	z-index: 152;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 122px;
}

#u992-4
{
	z-index: 182;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1340
{
	z-index: 119;
	width: 2px;
	height: 371px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 635px;
}

#u980-18
{
	z-index: 160;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 680px;
}

#pu710
{
	width: 0.01px;
	margin-top: -2px;
}

#u710
{
	z-index: 33;
	width: 1000px;
	margin-right: -10000px;
}

#menuu535
{
	z-index: 34;
	width: 586px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 16px;
}

#u536
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
}

#u539
{
	width: 114px;
	padding-bottom: 14px;
}

#u550
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
	left: 117px;
}

#u553
{
	width: 114px;
	padding-bottom: 14px;
}

#u539.MuseMenuActive,#u553.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u542-4_clip,#u555-4_clip
{
	width: 114px;
	height: 19px;
}

#u557
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 234px;
}

#u558
{
	width: 115px;
	padding-bottom: 14px;
}

#u564
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 352px;
}

#u567
{
	width: 115px;
	padding-bottom: 14px;
}

#u558.MuseMenuActive,#u567.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u561-4_clip,#u568-4_clip
{
	width: 115px;
	height: 19px;
}

#u571
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 470px;
}

#u574
{
	width: 116px;
	padding-bottom: 14px;
}

#u574.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u575-4_clip
{
	width: 116px;
	height: 19px;
}

#u542-4,#u555-4,#u561-4,#u568-4,#u575-4
{
	margin-right: -10000px;
	top: 7px;
}

#u741
{
	z-index: 72;
	width: 79px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 631px;
}

#pu581
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 715px;
}

#u581
{
	z-index: 71;
	width: 58px;
	min-height: 24px;
}

#u583
{
	z-index: 73;
	width: 106px;
	min-height: 28px;
	margin-top: 3px;
}

#u578-6
{
	z-index: 65;
	margin-right: -10000px;
	margin-top: 17px;
	left: 830px;
}

#u587
{
	z-index: 74;
	width: 87px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 630px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

