.version.services /* version checker */
{
	color: #0000F5;
	background-color: #91EB19;
}

.html
{
	background: #292827 url("../images/6892673-brown-wood-background.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1229px;
	-pie-box-shadow: 0px 0px 15px 4px #6D6D6D;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.57),0px 0px 15px rgba(0,0,0,0.57);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F7F2EF;
	margin-left: auto;
	margin-right: auto;
}

#pu1812
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1812
{
	z-index: 75;
	width: 230px;
	margin-left: 5px;
}

#u1710
{
	z-index: 112;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 0px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	border-width: 2px 2px 0px 0px;
}

#u1710_position_content
{
	padding-top: 15px;
	padding-bottom: 2px;
}

#u1756-4
{
	z-index: 140;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1757
{
	z-index: 144;
	width: 214px;
	min-height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 9px;
	position: relative;
}

#buttonu1748
{
	z-index: 118;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 26px;
	margin-top: 10px;
	position: relative;
	border-width: 2px 0px;
}

#buttonu1748:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#buttonu1748.ButtonSelected
{
	background-color: #333945;
	width: 220px;
	min-height: 0px;
	margin: 10px 0px 0px;
}

#u1749-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#buttonu1746
{
	z-index: 113;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 34px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1746:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1747-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 28px;
}

#buttonu1750
{
	z-index: 123;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1750:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1751-4
{
	z-index: 124;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#buttonu1752
{
	z-index: 128;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 35px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1752:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1753-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 28px;
}

#buttonu1754
{
	z-index: 133;
	width: 220px;
	border-style: solid;
	border-color: #292827;
	background-color: #333945;
	padding-bottom: 22px;
	position: relative;
	border-width: 0px 0px 2px;
}

#buttonu1754:hover
{
	background-color: #638562;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#buttonu1746.ButtonSelected,#buttonu1750.ButtonSelected,#buttonu1752.ButtonSelected,#buttonu1754.ButtonSelected
{
	background-color: #333945;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u1755-6
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 27px;
}

#u1799-8
{
	z-index: 145;
	display: block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 89px;
	position: relative;
}

#pmenuu595
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 235px;
}

#menuu595
{
	z-index: 2;
	width: 733px;
	margin-left: 7px;
}

#u596
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
}

#u599
{
	width: 145px;
	padding-bottom: 55px;
}

#u603
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 147px;
}

#u604
{
	width: 145px;
	padding-bottom: 55px;
}

#u610
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 294px;
}

#u611
{
	width: 145px;
	padding-bottom: 55px;
}

#u617
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 441px;
}

#u618
{
	width: 145px;
	padding-bottom: 55px;
}

#u624
{
	width: 145px;
	min-height: 81px;
	margin-right: -10000px;
	left: 588px;
}

#u625
{
	width: 145px;
	padding-bottom: 55px;
}

#u599.MuseMenuActive,#u604.MuseMenuActive,#u611.MuseMenuActive,#u618.MuseMenuActive,#u625.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u602,#u607,#u614,#u621,#u628
{
	height: 26px;
	width: 145px;
	margin-right: -10000px;
	top: 27px;
}

#u1298-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	margin-left: 212px;
	margin-top: 14px;
	position: relative;
}

#u1308
{
	z-index: 89;
	width: 750px;
	height: 302px;
	margin-top: 10px;
	position: relative;
	background: transparent url("../images/683756_89827898.jpg") no-repeat right top;
}

#u1299-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	margin-left: 87px;
	margin-top: 53px;
	position: relative;
}

#ppu1315-13
{
	width: 0.01px;
	margin-left: 20px;
}

#pu1315-13
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1315-13
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1300-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	margin-left: 36px;
	margin-top: 32px;
	position: relative;
}

#u1324
{
	z-index: 111;
	width: 287px;
	height: 420px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 373px;
	background: transparent url("../images/911225_45664787.jpg") no-repeat center top;
	background-size: cover;
}

#u1316-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1317-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	margin-left: 165px;
	margin-top: 31px;
	position: relative;
}

#pu710
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1169px;
}

#u710
{
	z-index: 33;
	width: 1000px;
	margin-right: -10000px;
}

#menuu535
{
	z-index: 34;
	width: 586px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 16px;
}

#u536
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
}

#u539
{
	width: 114px;
	padding-bottom: 14px;
}

#u550
{
	width: 115px;
	min-height: 33px;
	margin-right: -10000px;
	left: 117px;
}

#u553
{
	width: 114px;
	padding-bottom: 14px;
}

#u539.MuseMenuActive,#u553.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u542-4_clip,#u555-4_clip
{
	width: 114px;
	height: 19px;
}

#u557
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 234px;
}

#u558
{
	width: 115px;
	padding-bottom: 14px;
}

#u564
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 352px;
}

#u567
{
	width: 115px;
	padding-bottom: 14px;
}

#u558.MuseMenuActive,#u567.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u561-4_clip,#u568-4_clip
{
	width: 115px;
	height: 19px;
}

#u571
{
	width: 116px;
	min-height: 33px;
	margin-right: -10000px;
	left: 470px;
}

#u574
{
	width: 116px;
	padding-bottom: 14px;
}

#u574.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u575-4_clip
{
	width: 116px;
	height: 19px;
}

#u542-4,#u555-4,#u561-4,#u568-4,#u575-4
{
	margin-right: -10000px;
	top: 7px;
}

#u741
{
	z-index: 72;
	width: 79px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 631px;
}

#pu581
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 715px;
}

#u581
{
	z-index: 71;
	width: 58px;
	min-height: 24px;
}

#u583
{
	z-index: 73;
	width: 106px;
	min-height: 28px;
	margin-top: 3px;
}

#u578-6
{
	z-index: 65;
	margin-right: -10000px;
	margin-top: 17px;
	left: 830px;
}

#u587
{
	z-index: 74;
	width: 87px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 630px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1168px;
}

